#around {
    background: url(media/pageBackground2.jpg) no-repeat fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#frame {
    background-image: url("media/frame.png");
    height: 1330px;
    width: 923px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#darkScreen {
    height: 700px;
    width: 500px;
    position: absolute;
    top: 125px;
    left: 290px;
}

#game {
    background-image: url("media/game_background.jpg");
    height: 700px;
    width: 500px;
    position: absolute;
    top: 125px;
    left: 290px;
    /* display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto; */
}

#playerTower {
    height: 500px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#enemyTower {
    /* background-image: url("media/enemyTowerBackground.png"); */
    height: 500px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#homebutton {
    position: absolute;
    bottom: 390px;
    right: 320px;
}

h2 {
    text-align: center;
    border-top: dashed 1px skyblue;
    border-bottom: dashed 1px skyblue;
    background-color: rgb(241, 255, 232);
}